<?xml version="1.0" encoding="utf-8" ?>
<AppSettingConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IPAddress>127.0.0.1</IPAddress>
  <Port>5689</Port>
  <DeviceNo>P0</DeviceNo>
  <Languge1st>SIMPLIFIED</Languge1st>
  <Languge2nd>TRADITIONAL</Languge2nd>
  <TimeSystem24H>true</TimeSystem24H>
  <FontSize>9.47</FontSize>
  <SaleType>DineInAndTakeout</SaleType>
  <UsePettyCash>true</UsePettyCash>
  <ShowBrevityCode>true</ShowBrevityCode>
  <TakeAwayCash>true</TakeAwayCash>
  <ShowSoldOutQty>true</ShowSoldOutQty>
  <DirectShipping>true</DirectShipping>
  <CarteMode>true</CarteMode>
  <BizUIConfig>
    <BizControls>
      <BizControl Name="Group" ColumnsCount="5" RowsCount="3" />
      <BizControl Name="Item" ColumnsCount="5" RowsCount="4" />
      <BizControl Name="Payoff" ColumnsCount="5" RowsCount="2" />
    </BizControls>
  </BizUIConfig>
  <PrintConfig Enabled="true">
      <PortType>DRIVER</PortType>
      <Name>Microsoft XPS Document Writer</Name>
      <VID></VID>
      <PID></PID>
      <Copies>1</Copies>
      <PaperWidth>76mm</PaperWidth>
  </PrintConfig>
  <CashBoxConfig Enabled="true">
      <IsUsbPort>false</IsUsbPort>
      <Port>COM1</Port>
      <VID></VID>
      <PID></PID>
  </CashBoxConfig>
  <TelCallConfig Enabled="true">
      <Model>0</Model>
  </TelCallConfig>
  <ClientShowConfig Enabled="true">
      <IsUsbPort>false</IsUsbPort>
      <Port>COM3</Port>
      <VID></VID>
      <PID></PID>
      <ClientShowModel>Led8N</ClientShowModel>
      <ClientShowType>SingleLine</ClientShowType>
  </ClientShowConfig>
</AppSettingConfig>