<?xml version="1.0" encoding="utf-8" ?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <providers resource="providers.config"/>

  <context id="SqlMapDao" default="true">

    <!-- ==== Sql Server : SqlClient configuration ========= -->
    <database>
      <provider name="sqlServer2.0" />
      <dataSource name="SqlServer" connectionString="data source=(local);database=Top4ever;user id=sa;password=123;" />
    </database>

    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config" />
    </daoSessionHandler>

    <daoFactory>
      <dao interface="Top4ever.Interface.Accounts.IEmployeeDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.Accounts.EmployeeSqlMapDao, Top4ever.Persistence" />

      <dao interface="Top4ever.Interface.Customers.ICustomerInfoDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.Customers.CustomerInfoSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.Customers.ICustomerOrderDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.Customers.CustomerOrderSqlMapDao, Top4ever.Persistence" />

      <dao interface="Top4ever.Interface.GoodsRelated.IDetailsDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.GoodsRelated.DetailsSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.GoodsRelated.IDetailsGroupDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.GoodsRelated.DetailsGroupSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.GoodsRelated.IGoodsDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.GoodsRelated.GoodsSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.GoodsRelated.IGoodsGroupDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.GoodsRelated.GoodsGroupSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.GoodsRelated.IGoodsSetMealDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.GoodsRelated.GoodsSetMealSqlMapDao, Top4ever.Persistence" />

      <dao interface="Top4ever.Interface.OrderRelated.IDiscountDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.OrderRelated.DiscountSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.OrderRelated.IOrderDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.OrderRelated.OrderSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.OrderRelated.IOrderDetailsDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.OrderRelated.OrderDetailsSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.OrderRelated.IOrderDiscountDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.OrderRelated.OrderDiscountSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.OrderRelated.IOrderPayoffDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.OrderRelated.OrderPayoffSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.OrderRelated.IPayoffWayDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.OrderRelated.PayoffWaySqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.OrderRelated.IReasonDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.OrderRelated.ReasonSqlMapDao, Top4ever.Persistence" />

      <dao interface="Top4ever.Interface.IBusinessReportDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.BusinessReportSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.IButtonStyleDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.ButtonStyleSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.IDailyStatementDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.DailyStatementSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.IDailyTurnoverDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.DailyTurnoverSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.IDeskDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.DeskSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.IHandoverRecordDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.HandoverRecordSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.IHandoverTurnoverDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.HandoverTurnoverSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.IPrintTaskDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.PrintTaskSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.IPromotionDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.PromotionSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.IRegionDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.RegionSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.IShopDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.ShopSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.ISystemConfigDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.SystemConfigSqlMapDao, Top4ever.Persistence" />
      <dao interface="Top4ever.Interface.ISystemDictionaryDao, Top4ever.Interface"
              implementation="Top4ever.Persistence.SystemDictionarySqlMapDao, Top4ever.Persistence" />
    </daoFactory>

  </context>

</daoConfig>
