<?xml version="1.0"?>
<PrintSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <PrintConfig PaperType="58mm" TotalCharNum="32">
      <LayoutCollection>
        <LayoutConfig>
          <Key>PrintOrder</Key>
          <Value>PrintOrder_58.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintPrePayOrder</Key>
          <Value>PrintPrePayOrder_58.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>DeliveryOrder</Key>
          <Value>DeliveryOrder_58.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintPaidOrder</Key>
          <Value>PrintPaidOrder_58.ini</Value>
        </LayoutConfig>
      </LayoutCollection>
      <LineCollection>
        <Line Name="SingleLine" Text="-" StartPX="20%" EndPX="85%" />
        <Line Name="StarLine" Text="*" StartPX="0%" EndPX="85%" />
      </LineCollection>
      <NormalConfigCollection>
        <NormalConfig Name="ShopName" Prefix="" Align="Center" Width="100%" Font="2,2" />
        <NormalConfig Name="DeskName" Prefix="桌号：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="PersonNum" Prefix="人数：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="PrintTime" Prefix="日期：" Align="Left" Width="60%" Font="0,0" />
        <NormalConfig Name="EmployeeNo" Prefix="点单员：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="Cashier" Prefix="收银员：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="ShopAddress" Prefix="" Align="Center" Width="100%" Font="0,0" />
        <NormalConfig Name="Telephone" Prefix="" Align="Center" Width="100%" Font="0,0" />
      </NormalConfigCollection>
      <DataListConfigCollection>
        <DataListConfig ClassName="GoodsOrder">
          <ColumnHeadCollection>
            <ColumnHead Name="GoodsName" Text="品名" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="GoodsNum" Text="数量" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="SellPrice" Text="单价" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="TotalSellPrice" Text="小计" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="TotalDiscount" Text="折扣" Align="Left" Width="20%" Font="1,1" />
          </ColumnHeadCollection>
          <ColumnCollection>
            <Column Name="GoodsName" Align="Left" Width="20%" Font="0,0" />
            <Column Name="GoodsNum" Align="Left" Width="20%" Font="0,0" />
            <Column Name="SellPrice" Align="Right" Width="20%" Font="0,0" />
            <Column Name="TotalSellPrice" Align="Right" Width="20%" Font="0,0" />
            <Column Name="TotalDiscount" Align="Right" Width="20%" Font="0,0" />
          </ColumnCollection>
        </DataListConfig>
      </DataListConfigCollection>
    </PrintConfig>
    <PrintConfig PaperType="76mm" TotalCharNum="42">
      <LayoutCollection>
        <LayoutConfig>
          <Key>PrintOrder</Key>
          <Value>PrintOrder_76.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintPrePayOrder</Key>
          <Value>PrintPrePayOrder_76.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>DeliveryOrder</Key>
          <Value>DeliveryOrder_76.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintPaidOrder</Key>
          <Value>PrintPaidOrder_76.ini</Value>
        </LayoutConfig>
      </LayoutCollection>
      <LineCollection>
        <Line Name="SingleLine" Text="-" StartPX="20%" EndPX="85%" />
        <Line Name="StarLine" Text="*" StartPX="0%" EndPX="85%" />
      </LineCollection>
      <NormalConfigCollection>
        <NormalConfig Name="ShopName" Prefix="" Align="Center" Width="100%" Font="2,2" />
        <NormalConfig Name="DeskName" Prefix="桌号：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="PersonNum" Prefix="人数：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="PrintTime" Prefix="日期：" Align="Left" Width="60%" Font="0,0" />
        <NormalConfig Name="EmployeeNo" Prefix="点单员：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="Cashier" Prefix="收银员：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="ShopAddress" Prefix="" Align="Center" Width="100%" Font="0,0" />
        <NormalConfig Name="Telephone" Prefix="" Align="Center" Width="100%" Font="0,0" />
      </NormalConfigCollection>
      <DataListConfigCollection>
        <DataListConfig ClassName="GoodsOrder">
          <ColumnHeadCollection>
            <ColumnHead Name="GoodsName" Text="品名" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="GoodsNum" Text="数量" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="SellPrice" Text="单价" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="TotalSellPrice" Text="小计" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="TotalDiscount" Text="折扣" Align="Left" Width="20%" Font="1,1" />
          </ColumnHeadCollection>
          <ColumnCollection>
            <Column Name="GoodsName" Align="Left" Width="20%" Font="0,0" />
            <Column Name="GoodsNum" Align="Left" Width="20%" Font="0,0" />
            <Column Name="SellPrice" Align="Right" Width="20%" Font="0,0" />
            <Column Name="TotalSellPrice" Align="Right" Width="20%" Font="0,0" />
            <Column Name="TotalDiscount" Align="Right" Width="20%" Font="0,0" />
          </ColumnCollection>
        </DataListConfig>
      </DataListConfigCollection>
    </PrintConfig>
    <PrintConfig PaperType="80mm" TotalCharNum="44">
      <LayoutCollection>
        <LayoutConfig>
          <Key>PrintOrder</Key>
          <Value>PrintOrder_80.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintPrePayOrder</Key>
          <Value>PrintPrePayOrder_80.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>DeliveryOrder</Key>
          <Value>DeliveryOrder_80.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintPaidOrder</Key>
          <Value>PrintPaidOrder_80.ini</Value>
        </LayoutConfig>
      </LayoutCollection>
      <LineCollection>
        <Line Name="SingleLine" Text="-" StartPX="20%" EndPX="85%" />
        <Line Name="StarLine" Text="*" StartPX="0%" EndPX="85%" />
      </LineCollection>
      <NormalConfigCollection>
        <NormalConfig Name="ShopName" Prefix="" Align="Center" Width="100%" Font="2,2" />
        <NormalConfig Name="DeskName" Prefix="桌号：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="PersonNum" Prefix="人数：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="PrintTime" Prefix="日期：" Align="Left" Width="60%" Font="0,0" />
        <NormalConfig Name="EmployeeNo" Prefix="点单员：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="Cashier" Prefix="收银员：" Align="Left" Width="50%" Font="0,0" />
        <NormalConfig Name="ShopAddress" Prefix="" Align="Center" Width="100%" Font="0,0" />
        <NormalConfig Name="Telephone" Prefix="" Align="Center" Width="100%" Font="0,0" />
      </NormalConfigCollection>
      <DataListConfigCollection>
        <DataListConfig ClassName="GoodsOrder">
          <ColumnHeadCollection>
            <ColumnHead Name="GoodsName" Text="品名" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="GoodsNum" Text="数量" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="SellPrice" Text="单价" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="TotalSellPrice" Text="小计" Align="Left" Width="20%" Font="1,1" />
            <ColumnHead Name="TotalDiscount" Text="折扣" Align="Left" Width="20%" Font="1,1" />
          </ColumnHeadCollection>
          <ColumnCollection>
            <Column Name="GoodsName" Align="Left" Width="20%" Font="0,0" />
            <Column Name="GoodsNum" Align="Left" Width="20%" Font="0,0" />
            <Column Name="SellPrice" Align="Right" Width="20%" Font="0,0" />
            <Column Name="TotalSellPrice" Align="Right" Width="20%" Font="0,0" />
            <Column Name="TotalDiscount" Align="Right" Width="20%" Font="0,0" />
          </ColumnCollection>
        </DataListConfig>
      </DataListConfigCollection>
    </PrintConfig>
</PrintSetting>