<?xml version="1.0"?>
<PrintSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <PrintConfig PaperName="228W949H" PaperType="58mm" Margin="8,8">
      <LayoutCollection>
        <LayoutConfig>
          <Key>PrintOrder</Key>
          <Value>PrintOrder_58.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintPrePayOrder</Key>
          <Value>PrintPrePayOrder_58.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>DeliveryOrder</Key>
          <Value>DeliveryOrder_58.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintPaidOrder</Key>
          <Value>PrintPaidOrder_58.ini</Value>
        </LayoutConfig>
      </LayoutCollection>
      <LineCollection>
        <Line Name="SingleLine" Text="-" StartPX="20%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Bold</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
        <Line Name="StarLine" Text="*" StartPX="0%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Bold</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
      </LineCollection>
      <NormalConfigCollection>
        <NormalConfig Name="ShopName" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>15</FontSize>
            <FontStyle>Bold</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="DeskName" Prefix="桌号：" Width="50%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PersonNum" Prefix="人数：" Width="50%" Align="Right">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PrintTime" Prefix="日期：" Width="60%" Align="Left">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="EmployeeNo" Prefix="点单员：" Width="50%" Align="Left">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Cashier" Prefix="收银员：" Width="50%" Align="Right">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ShopAddress" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Telephone" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ReceivableMoney" Prefix="应收金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ServiceFee" Prefix="服务费：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TotalAmount" Prefix="合计金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PaidInMoney" Prefix="实收金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="NeedChangePay" Prefix="找零金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CustomerPhone" Prefix="客户电话：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CustomerName" Prefix="订 餐 人：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="DeliveryAddress" Prefix="外送地址：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Remark" Prefix="备 注：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="DeliveryEmployeeName" Prefix="外送人员：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
      </NormalConfigCollection>
      <DataListConfigCollection>
        <DataListConfig ClassName="GoodsOrder">
          <ColumnHeadCollection>
            <ColumnHead Name="GoodsName" Text="品名" Width="50%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="GoodsNum" Text="数量" Width="25%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="TotalSellPrice" Text="小计" Width="25%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
          </ColumnHeadCollection>
          <ColumnCollection>
            <Column Name="GoodsName" Width="50%" Align="Left">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="GoodsNum" Width="25%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="TotalSellPrice" Width="25%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
          </ColumnCollection>
        </DataListConfig>
        <DataListConfig ClassName="PayingGoodsOrder">
          <ColumnHeadCollection>
            <ColumnHead Name="PayoffName" Text="支付名称" Width="40%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="PayoffMoney" Text="支付金额" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="NeedChangePay" Text="找零金额" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
          </ColumnHeadCollection>
          <ColumnCollection>
            <Column Name="PayoffName" Width="40%" Align="Left">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="PayoffMoney" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="NeedChangePay" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
          </ColumnCollection>
        </DataListConfig>
      </DataListConfigCollection>
    </PrintConfig>
    <PrintConfig PaperName="300W949H" PaperType="76mm" Margin="12,12">
      <LayoutCollection>
        <LayoutConfig>
          <Key>PrintOrder</Key>
          <Value>PrintOrder_76.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintPrePayOrder</Key>
          <Value>PrintPrePayOrder_76.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>DeliveryOrder</Key>
          <Value>DeliveryOrder_76.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintPaidOrder</Key>
          <Value>PrintPaidOrder_76.ini</Value>
        </LayoutConfig>
      </LayoutCollection>
      <LineCollection>
        <Line Name="SingleLine" Text="-" StartPX="20%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Bold</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
        <Line Name="StarLine" Text="*" StartPX="0%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Bold</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
      </LineCollection>
      <NormalConfigCollection>
        <NormalConfig Name="ShopName" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>15</FontSize>
            <FontStyle>Bold</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="DeskName" Prefix="桌号：" Width="50%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PersonNum" Prefix="人数：" Width="50%" Align="Right">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PrintTime" Prefix="日期：" Width="60%" Align="Left">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="EmployeeNo" Prefix="点单员：" Width="50%" Align="Left">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Cashier" Prefix="收银员：" Width="50%" Align="Right">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ShopAddress" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Telephone" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ReceivableMoney" Prefix="应收金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ServiceFee" Prefix="服务费：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TotalAmount" Prefix="合计金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PaidInMoney" Prefix="实收金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="NeedChangePay" Prefix="找零金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CustomerPhone" Prefix="客户电话：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CustomerName" Prefix="订 餐 人：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="DeliveryAddress" Prefix="外送地址：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Remark" Prefix="备 注：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="DeliveryEmployeeName" Prefix="外送人员：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
      </NormalConfigCollection>
      <DataListConfigCollection>
        <DataListConfig ClassName="GoodsOrder">
          <ColumnHeadCollection>
            <ColumnHead Name="GoodsName" Text="品名" Width="40%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="GoodsNum" Text="数量" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="SellPrice" Text="单价" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="TotalSellPrice" Text="小计" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="TotalDiscount" Text="折扣" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
          </ColumnHeadCollection>
          <ColumnCollection>
            <Column Name="GoodsName" Width="40%" Align="Left">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="GoodsNum" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="SellPrice" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="TotalSellPrice" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="TotalDiscount" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Red</ForeColor>
              </Font>
            </Column>
          </ColumnCollection>
        </DataListConfig>
        <DataListConfig ClassName="PayingGoodsOrder">
          <ColumnHeadCollection>
            <ColumnHead Name="PayoffName" Text="支付名称" Width="40%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="PayoffMoney" Text="支付金额" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="NeedChangePay" Text="找零金额" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
          </ColumnHeadCollection>
          <ColumnCollection>
            <Column Name="PayoffName" Width="40%" Align="Left">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="PayoffMoney" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="NeedChangePay" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
          </ColumnCollection>
        </DataListConfig>
      </DataListConfigCollection>
    </PrintConfig>
    <PrintConfig PaperName="315W949H" PaperType="80mm" Margin="12,12">
      <LayoutCollection>
          <LayoutConfig>
            <Key>PrintOrder</Key>
            <Value>PrintOrder_80.ini</Value>
          </LayoutConfig>
          <LayoutConfig>
            <Key>PrintPrePayOrder</Key>
            <Value>PrintPrePayOrder_80.ini</Value>
          </LayoutConfig>
          <LayoutConfig>
            <Key>DeliveryOrder</Key>
            <Value>DeliveryOrder_80.ini</Value>
          </LayoutConfig>
          <LayoutConfig>
            <Key>PrintPaidOrder</Key>
            <Value>PrintPaidOrder_80.ini</Value>
          </LayoutConfig>
      </LayoutCollection>
      <LineCollection>
        <Line Name="SingleLine" Text="-" StartPX="20%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Bold</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
        <Line Name="StarLine" Text="*" StartPX="0%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Bold</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
      </LineCollection>
      <NormalConfigCollection>
        <NormalConfig Name="ShopName" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>15</FontSize>
            <FontStyle>Bold</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="DeskName" Prefix="桌号：" Width="50%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PersonNum" Prefix="人数：" Width="50%" Align="Right">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PrintTime" Prefix="日期：" Width="60%" Align="Left">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="EmployeeNo" Prefix="点单员：" Width="50%" Align="Left">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Cashier" Prefix="收银员：" Width="50%" Align="Right">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>9</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ShopAddress" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Telephone" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ReceivableMoney" Prefix="应收金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ServiceFee" Prefix="服务费：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TotalAmount" Prefix="合计金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PaidInMoney" Prefix="实收金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="NeedChangePay" Prefix="找零金额：" Width="100%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CustomerPhone" Prefix="客户电话：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CustomerName" Prefix="订 餐 人：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="DeliveryAddress" Prefix="外送地址：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Remark" Prefix="备 注：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="DeliveryEmployeeName" Prefix="外送人员：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>10</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
      </NormalConfigCollection>
      <DataListConfigCollection>
        <DataListConfig ClassName="GoodsOrder">
          <ColumnHeadCollection>
            <ColumnHead Name="GoodsName" Text="品名" Width="40%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="GoodsNum" Text="数量" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="SellPrice" Text="单价" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="TotalSellPrice" Text="小计" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="TotalDiscount" Text="折扣" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
          </ColumnHeadCollection>
          <ColumnCollection>
            <Column Name="GoodsName" Width="40%" Align="Left">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="GoodsNum" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="SellPrice" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="TotalSellPrice" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="TotalDiscount" Width="15%" Align="Right">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Red</ForeColor>
              </Font>
            </Column>
          </ColumnCollection>
        </DataListConfig>
        <DataListConfig ClassName="PayingGoodsOrder">
          <ColumnHeadCollection>
            <ColumnHead Name="PayoffName" Text="支付名称" Width="40%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="PayoffMoney" Text="支付金额" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
            <ColumnHead Name="NeedChangePay" Text="找零金额" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>10</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </ColumnHead>
          </ColumnHeadCollection>
          <ColumnCollection>
            <Column Name="PayoffName" Width="40%" Align="Left">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="PayoffMoney" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
            <Column Name="NeedChangePay" Width="30%" Align="Center">
              <Font>
                <FontName>Microsoft YaHei</FontName>
                <FontSize>8</FontSize>
                <FontStyle>Regular</FontStyle>
                <ForeColor>Black</ForeColor>
              </Font>
            </Column>
          </ColumnCollection>
        </DataListConfig>
      </DataListConfigCollection>
    </PrintConfig>
</PrintSetting>