<?xml version="1.0"?>
<PrintSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <PrintConfig PaperType="58mm" Margin="2,2">
      <LayoutCollection>
        <LayoutConfig>
          <Key>PrintCardConsume</Key>
          <Value>PrintCardConsume_58.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintCardStore</Key>
          <Value>PrintCardStore_58.ini</Value>
        </LayoutConfig>
      </LayoutCollection>
      <LineCollection>
        <Line Name="SingleLine" Text="-" StartPX="0%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Bold</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
        <Line Name="StarLine" Text="*" StartPX="0%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Bold</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
      </LineCollection>
      <NormalConfigCollection>
        <NormalConfig Name="MemberVoucher" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>SimSun</FontName>
            <FontSize>18</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CardHolder" Prefix="" Width="50%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>7</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="EnCardHolder" Prefix="" Width="50%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>6</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CardNo" Prefix="交易卡号：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ShopName" Prefix="商户名称：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TradeType" Prefix="交易类型：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TranSequence" Prefix="交易流水：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TradeTime" Prefix="交易日期：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PreTradeAmount" Prefix="充值前金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PostTradeAmount" Prefix="充值后金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PreConsumeAmount" Prefix="消费前金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PostConsumeAmount" Prefix="消费后金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Payment" Prefix="付款方式：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="StoreValue" Prefix="充值金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="GivenAmount" Prefix="赠送金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PresentExp" Prefix="赠送积分：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ConsumeAmount" Prefix="消费金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ConsumePoints" Prefix="消费积分：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="AvailablePoints" Prefix="可用积分：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Operator" Prefix="操作员：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Remark" Prefix="备 注：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
      </NormalConfigCollection>
    </PrintConfig>
    <PrintConfig PaperType="76mm" Margin="2,2">
      <LayoutCollection>
        <LayoutConfig>
          <Key>PrintCardConsume</Key>
          <Value>PrintCardConsume_76.ini</Value>
        </LayoutConfig>
        <LayoutConfig>
          <Key>PrintCardStore</Key>
          <Value>PrintCardStore_76.ini</Value>
        </LayoutConfig>
      </LayoutCollection>
      <LineCollection>
        <Line Name="SingleLine" Text="-" StartPX="0%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
        <Line Name="StarLine" Text="*" StartPX="0%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
      </LineCollection>
      <NormalConfigCollection>
        <NormalConfig Name="MemberVoucher" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>SimSun</FontName>
            <FontSize>18</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CardHolder" Prefix="" Width="50%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>7</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="EnCardHolder" Prefix="" Width="50%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>6</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CardNo" Prefix="交易卡号：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ShopName" Prefix="商户名称：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TradeType" Prefix="交易类型：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TranSequence" Prefix="交易流水：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TradeTime" Prefix="交易日期：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PreTradeAmount" Prefix="充值前金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PostTradeAmount" Prefix="充值后金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PreConsumeAmount" Prefix="消费前金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PostConsumeAmount" Prefix="消费后金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Payment" Prefix="付款方式：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="StoreValue" Prefix="充值金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="GivenAmount" Prefix="赠送金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PresentExp" Prefix="赠送积分：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ConsumeAmount" Prefix="消费金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ConsumePoints" Prefix="消费积分：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="AvailablePoints" Prefix="可用积分：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Operator" Prefix="操作员：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Remark" Prefix="备 注：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
      </NormalConfigCollection>
    </PrintConfig>
    <PrintConfig PaperType="80mm" Margin="2,2">
      <LayoutCollection>
          <LayoutConfig>
            <Key>PrintCardConsume</Key>
            <Value>PrintCardConsume_80.ini</Value>
          </LayoutConfig>
          <LayoutConfig>
            <Key>PrintCardStore</Key>
            <Value>PrintCardStore_80.ini</Value>
          </LayoutConfig>
      </LayoutCollection>
      <LineCollection>
        <Line Name="SingleLine" Text="-" StartPX="0%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
        <Line Name="StarLine" Text="*" StartPX="0%" EndPX="100%">
          <Font>
            <FontName>Microsoft Sans Serif</FontName>
            <FontSize>8</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </Line>
      </LineCollection>
      <NormalConfigCollection>
        <NormalConfig Name="MemberVoucher" Prefix="" Width="100%" Align="Center">
          <Font>
            <FontName>SimSun</FontName>
            <FontSize>18</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CardHolder" Prefix="" Width="50%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>7</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="EnCardHolder" Prefix="" Width="50%" Align="Right">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>6</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="CardNo" Prefix="交易卡号：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ShopName" Prefix="商户名称：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TradeType" Prefix="交易类型：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TranSequence" Prefix="交易流水：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="TradeTime" Prefix="交易日期：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PreTradeAmount" Prefix="充值前金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PostTradeAmount" Prefix="充值后金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PreConsumeAmount" Prefix="消费前金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PostConsumeAmount" Prefix="消费后金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Payment" Prefix="付款方式：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="StoreValue" Prefix="充值金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="GivenAmount" Prefix="赠送金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="PresentExp" Prefix="赠送积分：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ConsumeAmount" Prefix="消费金额：RMB " Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="ConsumePoints" Prefix="消费积分：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="AvailablePoints" Prefix="可用积分：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="LastConsumeTime" Prefix="上次消费：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Operator" Prefix="操 作 员：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
        <NormalConfig Name="Remark" Prefix="备 注：" Width="100%" Align="Left">
          <Font>
            <FontName>Microsoft YaHei</FontName>
            <FontSize>12</FontSize>
            <FontStyle>Regular</FontStyle>
            <ForeColor>Black</ForeColor>
          </Font>
        </NormalConfig>
      </NormalConfigCollection>
    </PrintConfig>
</PrintSetting>